*{
    margin:0;padding:0
}
html{
    box-sizing:border-box
}
*,*:before,*:after{
    box-sizing:inherit
}
article,aside,details,figcaption,figure,footer,header,nav,section{
    display:block
}

body{
    overflow-x: hidden;
    font-family: 'Roboto' sans-serif;
    background-color: white;
}

strong.brand{
    font-weight: bolder;
}
#site {
    background: black;
    color: white;
    padding: 5px 0px;
}
.login#site {
    background: black;
    color: white;
    padding: 5px 0px;
}
.nav-img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.account-img {
    height: 125px;
    width: 125px;
}
.overlay{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin:0px;
    padding:0px;
}
.container-fluid{
    padding-right:0px;
     padding-left:0px;
}
.mi{
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}
.over{
    background-color: rgba(0, 0, 0);
    height: 80vh;

}
#design{
    display: flex;
    flex-direction: row;
    color:white;
    border: 3px solid orange;
    border-radius: 50%;
    height:60px;
    width:60px;
    padding-left:20px;
    padding-top:20px;
    margin-right:10px;
    margin-left:70px;
}
.des,.des1,.des2,.des3{
    display: flex;
    flex-direction: row;
    color:white;
    border-radius: 50%;
    height:70px;
    width:70px;
    padding-top:30%;
    font-size:17px;
}
.des{
    border: 3px solid orange;

}
.des1{
    border: 3px solid brown;
}
.des2{
    border: 3px solid blue;
}
.des3{
    border: 3px solid green;
}
.site-link{
    padding-top:-20px; 

}
.mi{
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}
.js-notes ul.showrating {
    display: flex;
    width: 30%;
    margin: auto;
    flex-direction: row;
    justify-content: space-evenly;
}
.js-notes ul.showrating li {
    list-style: none;
}
.view.overlay{
    background-color: rgba(14, 13, 13, 0.164);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#usable{
    color:white;
    border: 3px solid blue;
    border-radius: 50%;
    padding-left:20px;
    padding-top:20px;
    height:90px;
    width:90px;
    margin-right:10px;
}

#contente{
    color:white;
    border: 3px solid green;
    border-radius: 50%;
    height:90px;
    width:90px;
    padding-left:20px;
    padding-top:20px;
    margin-right:20px;
}

.rates{
    font-size:14px;
    font-weight:bolder;
}
.display{
    display: flex;
    flex-wrap: wrap;
}
.ting{
    font-size:14px;
}
#heart{
    float:right;
    border: 1px solid black;
    border-radius: 50%;
    padding: 6px;
}

#heart:hover{
    color:blue;
    border: 1px solid blue;
}
#usern{
    color: #00bdaa;
}
.alert{
    margin:0;
    padding:0;
}
.alert ul li {
    list-style-type: none;
    padding:0;
    margin:0;
    font-size:12px;
}


