{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block styles %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock styles %}

{% block content %}

<div class="container-fluid" style="margin-top: 5%;overflow-x: hidden;">
    <div class="container-fluid">
        <section class="content-view">
            <div class="box-site-head js-single-element"
                data-model="{&quot;likes&quot;:55,&quot;id&quot;:38186,&quot;images&quot;:{&quot;thumbnail&quot;:&quot;submissions\/2019\/10\/5da42f4e8967d075754281.jpg&quot;},&quot;slug&quot;:&quot;laguta-laguta&quot;,&quot;title&quot;:&quot;Laguta &amp; Laguta&quot;,&quot;createdAt&quot;:1571616000,&quot;tags&quot;:[&quot;Design Agencies&quot;,&quot;Mobile &amp; Apps&quot;,&quot;Web &amp; Interactive&quot;,&quot;Flat Design&quot;,&quot;Minimal&quot;,&quot;Portfolio&quot;,&quot;Responsive Design&quot;,&quot;Black&quot;,&quot;Red&quot;,&quot;White&quot;,&quot;Gallery&quot;,&quot;GSAP Animation&quot;,&quot;UI design&quot;,&quot;Nuxt.js&quot;],&quot;type&quot;:&quot;submission&quot;}">
                <div class="box-bg has-tablet">
                    <!-- <a href="" >
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAB2wAAAK8AQMAAAAZMt0LAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAANJJREFUeNrswYEAAAAAgKD9qRepAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABg9uBAAAAAAADI/7URVFVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVWlPTgkAAAAABD0/7UzLAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADAKNogABue9NggAAAABJRU5ErkJggg==" 
                        class="lazy" width="1900" height="720" alt="">
                    </a> -->
                </div>
                <div class="box-content over mi" style="background-image: url(/static/images/basket.png);background-position: center; background-repeat: no-repeat; background-size: contain; overflow-x: hidden;">
                    <a href="" class="site-link" aria-label=""></a>
                    <div class="inner vertical-center">
                        <div class="box-info text-center">
                            <div class="row mx-auto D-block">
                                <h2 class="heading-large text-center">
                                    <a href="" style="margin-top: -100px;">post</a>
                                </h2>
                            </div>
                            <div class="row mx-auto D-block">
                                <div class="by text-center">
                                    by <strong><a href="">random</a></strong>
                                    from <strong>location</strong>
                                </div>
                            </div>
                            <div class="box-notesite js-notes">
                                <ul class="showrating">
                                    <li class="circle-note-progress style-design" data-note="">
                                        <div class="circle">
                                            <div class="des">
                                                <p class="d-block mx-auto textrate">{{rating.design_average}}</p>
                                            </div>
                                        </div>
                                        <div class="legend text-white">DESIGN</div>
                                    </li>
                                    <li class="circle-note-progress style-usability" data-note="">
                                        <div class="circle">
                                            <div class="des1">
                                                <p class="d-block mx-auto textrate">{{rating.usability_average}}</p>
                                            </div>
                                        </div>
                                        <div class="legend text-white">USABILITY</div>
                                    </li>
                                    <li class="circle-note-progress style-creativity" data-note="">
                                        <div class="circle">
                                            <div class="des2">
                                                <p class="d-block mx-auto textrate">{{rating.content_average}}</p>
                                            </div>
                                        </div>
                                        <div class="legend text-white">CONTENT</div>
                                    </li>
                                    <li class="circle-note-progress style-content" data-note="{{rating.score}}">
                                        <div class="circle">
                                            <div class="des3">
                                                <p class="d-block mx-auto textrate">{{rating.score}}</p>
                                            </div>
                                        </div>
                                        <div class="legend text-white">SCORE</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="box-breadcrumb">
                            <div class="box-left">
                                <strong class="parent">
                                    <a href="">Trending Site</a>
                                </strong>
                                <span class="text-x-thin">Date</span>
                            </div>
                        </div>
                        <div class="box-bl">
                            <a href="" data-identifier="" data-type="submission"
                                class="js-visit-item bt-default green-fill" target="_blank" 
                                rel="noopener nofollow" style="margin-top: -60px;">
                                Visit Site 
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="container">
        <h2 class="mt-4">Websites available</h2>
        {% if user.is_authenticated %}
        <div class="modal fade bd-example-modal-xl" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Upload a Project</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" enctype="multipart/form-data" method="post">
                            {% csrf_token %}
                            {{form | crispy }}
                            <input type="submit" value="Save" class="btn btn-sm btn-info"/>
                            <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Close</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            {% if posts %}

            <div class="templates display">
                {% for post in posts %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="view overlay">
                            <img src="{{post.photo.cdn_url}}" alt="" class="card-img-top">
                            <a href="">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="">{{post.title | title}}</a>
                                <a href="" class="btn btn-sm btn-outline-info">View</a>
                                <hr>
                                <p class="card-text">
                                    <img src="{{post.user.profile.profile_picture.url}}" alt="" class="nav-img mr-2">
                                    By {{post.user.username | title }} <span style="float: right;">{{post.date | date }}</span>
                                </p>
                            </h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}