{% load crispy_forms_tags %}
{% load static %}
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white scrolling-navbar" id="mainNav">
    <div class="container">
        <a href="{% url 'index' %}" class="navbar-brand"><strong class="mr-4 brand" style="font-weight: bolder;">Awwwards.</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <form action="{% url 'search' %}" method="get" class="form-inline">
                        {% csrf_token %}
                        <div class="md-form my-0">
                            <input type= "text" class="form-control mr-sm-2" placeholder="search" name="title" aria-label="search">
                        </div>
                    </form>
                </li>
            </ul>

            <ul class="navbar-nav  ms-auto d-flex flex-row">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown hidden-arrow">
                    <a href="#" id="dropdownMenuLink" data-mdb-toggle="dropdown"
                       role="button"  class="nav-link dropdown-toggle  hidden-arrow" aria-expanded="false">
                        {{user.username | title }}
                          <img src="{{user.profile.profile_picture.url}}" class="rounded-circle nav-img" alt="dp">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a href="{% url 'profile' user.username %}" class="dropdown-item text-center">Profile</a></li>
                        <div class="dropdown-divider"></div>
                        <li><a href="{% url 'edit' user.username %}" class="dropdown-item text-center">Edit Profile</a></li>
                        <div class="dropdown-divider"></div>
                        <li><a href="{% url 'logout' %}" class="dropdown-item text-center">Logout</a></li>
                        
                    </ul>
                </li>
                {% else %}
               <li class="nav-item ml-5" id="site"><a href="{% url 'login' %}" class="btn btn-sm text-white d-flex login">REGISTER/LOGIN</a></li> 
               {% endif %}
                    <div class="this-btn d-flex ml-5" id="site">
                        <button class="btn btn-sm text-white" data-toggle="modal" data-target=".bd-example-modal-xl" style="border: none; background-color: transparent;">
                            SUBMIT YOUR SITE! 
                        </button>
                    </div>
                            
            </ul>
        </div>
    </div>
</nav>

